@import './../../style/default.less';

.header{
  background-color: @colorM;
  .header-top{
    height: 60px;
    line-height: 60px;
    text-align: right;
    padding: 0 20px;
    .logo {
      line-height: 60px;
      text-align: left;
      img {
        height: 40px;
        vertical-align: middle;
      }
      span{
        margin-left: 15px;
        font-size: 20px;
        vertical-align: middle;
      }
    }
    a{
      margin-left: 20px;
    }
  }
  .breadcrumb{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-top: 1px solid #1890ff;
    .breadcrumb-title{
      text-align: center;
      font-size: @fontC;
      position: relative;
      &:after{
        position: absolute;
        left: 115px;
        content: '';
        border-top: 9px solid @colorM;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        top: 39px;
      }
    }
    .weather{
      text-align: right;
      .date{
        margin-right: 10px;
      }
      .weather-symbol{
        img{
          width: 22px;
          margin-right: 5px;
          margin-top: -3px;
        }
      }
    }
  }
}
.simple-page{
  .header-top {
    background: #1890ff;
    color: @colorM;
    a {
      color: @colorM;
    }
  }
}